/* .wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
}

.task-input {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.task-input ion-icon {
    margin-right: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.error-text {
    color: red;
  } */